{{ define "stock_table.tmpl" }}
<tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ .stock.Name }}
    </th>
    <td class="px-6 py-4">
        {{ .stock.Symbol }}
    </td>
    <td class="px-6 py-4">
        {{ .stock.Price }}
    </td>
    <td class="px-6 py-4">
        {{ .stock.Quantity }}
    </td>
    {{ if eq .stock.IsStock true }}
    <td class="px-6 py-4">
        Stock
    </td>
    {{ else }}
    <td class="px-6 py-4">
        Crypto
    </td>
    {{ end }}
</tr>
{{ end }}